.loader {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 9999;
}

.loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(85, 135, 158);
    border-color: rgb(111, 187, 218) transparent rgb(166, 224, 238) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}