.pageNotFound {
    background-color: #232323;
    padding: 150px 0;
    text-align: center;
}

.pageNotFoundText {
    font-size: 50px;
    font-weight: 300;
}

.errorCodeText {
    font-size: 156px;
    font-weight: bold;
    margin: 50px 0;
}